body{
    width: 50vw;
    margin: auto;
}

h1{
    background-color: lightblue;
    color: blue;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
}

.subtit{
    background-color: rgb(4, 5, 83);
    color: red;
}

.paragrafo{
    background-color: darkorchid;
}

