table {
        width: 60vw;
        border-collapse: collapse;
}

th, td {
        border: 1px solid black;
        text-align: center;
        padding: 5px;
}

th {
        background-color: rgb(167, 163, 163);
}